h1 {
  font-size: 3em;
  color: lightgreen;
  font-family: 'Solway', serif;
}

header :nth-child(1) {
  display: flex;
  justify-content: center;
}

header :nth-child(2) {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
}

div > select {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  width: 175px;
  border-radius: 5px;
  outline: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}