h1 {
  text-align: center;
  font-size: 3em;
  color: lightgreen;
  font-family: 'Solway', serif;
}

div > select {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  width: 175px;
  border-radius: 5px;
  outline: none;
}

footer {
  position: relative;
  bottom: 0px;
}